In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
dataset=pd.read_csv('amazon_alexa.tsv',delimiter='\t',quoting=3)
dataset.drop(columns=dataset.iloc[:,:3],axis=1,inplace=True)
dataset.info()
dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   verified_reviews  3150 non-null   object
 1   feedback          3150 non-null   int64
dtypes: int64(1), object(1)
memory usage: 49.3+ KB

                                       verified_reviews  feedback
0                                         Love my Echo!         1
1                                             Loved it!         1
2     "Sometimes while playing a game, you can answe...         1
3     "I have had a lot of fun with this thing. My 4...         1
4                                                 Music         1
...                                                 ...       ...
3145  "Perfect for kids, adults and everyone in betw...         1
3146  "Listening to music, searching locations, chec...         1
3147  "I do love these things, i have them running m...         1
3148  "Only complaint I have is that the sound quali...         1
3149                                               Good         1

[3150 rows x 2 columns]

In [3]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus=[]
for i in range(len(dataset)):
  review=re.sub('[^a-zA-Z]',' ',dataset['verified_reviews'][i]).lower().split()
  all_stopwords=stopwords.words('english')
  all_stopwords.remove('not')
  ps=PorterStemmer()
  review=[ps.stem(words) for words in review if not words in all_stopwords]
  review=' '.join(review)
  corpus.append(review)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer()
X=cv.fit_transform(corpus).toarray()
y=dataset.iloc[:,-1].values
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)
X_train.shape

(2520, 2766)

In [15]:
ann=tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(1800,activation='relu'))
#ann.add(tf.keras.layers.Dense(200,activation='relu'))
ann.add(tf.keras.layers.Dropout(0.20))
ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
ann.fit(X_train,y_train,batch_size=32,epochs=20)

Epoch 1/20
79/79 [==============================] - 2s 31ms/step - loss: 0.3076 - accuracy: 0.9119
Epoch 2/20
79/79 [==============================] - 2s 31ms/step - loss: 0.1518 - accuracy: 0.9210
Epoch 3/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0867 - accuracy: 0.9623
Epoch 4/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0441 - accuracy: 0.9881
Epoch 5/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0284 - accuracy: 0.9925
Epoch 6/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0231 - accuracy: 0.9933
Epoch 7/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0202 - accuracy: 0.9933
Epoch 8/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0190 - accuracy: 0.9933
Epoch 9/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0179 - accuracy: 0.9933
Epoch 10/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0176 - accuracy: 0.9933
Epoch 11/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0171 - accuracy: 0.9933
Epoch 12/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0174 - accuracy: 0.9933
Epoch 13/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0181 - accuracy: 0.9933
Epoch 14/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0169 - accuracy: 0.9933
Epoch 15/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0171 - accuracy: 0.9933
Epoch 16/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0172 - accuracy: 0.9933
Epoch 17/20
79/79 [==============================] - 2s 30ms/step - loss: 0.0164 - accuracy: 0.9933
Epoch 18/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0171 - accuracy: 0.9933
Epoch 19/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0164 - accuracy: 0.9933
Epoch 20/20
79/79 [==============================] - 2s 31ms/step - loss: 0.0163 - accuracy: 0.9933

In [35]:
msg='superb'
new_review=re.sub('[^a-zA-Z]',' ',msg).lower().split()
all_stopwords=stopwords.words('english')
all_stopwords.remove('not')
ps=PorterStemmer()
new_review=[ps.stem(words) for words in new_review if not words in all_stopwords]
new_review=' '.join(new_review)
new_corpus=[new_review]
new_X_test=cv.transform(new_corpus).toarray()

In [40]:
new_y_predict=ann.predict(new_X_test)

Negative